<!-- <p>header works!</p> -->
 <div class="container-fluid">
<div class="row d-flex justify-content-between align-items-center">
    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center justify-content-md-start p-0 py-sm-2 brandimg">
        <img src="assets/images/ministry-logo.png" alt="Ministry Logo" class="top-bar-logo mx-1 ms-md-5" loading="lazy"
            fetchpriority="high" />
        <img src="assets/images/digital-india.png" alt="Digital India Logo" class="top-bar-logo mx-1" loading="lazy"
            fetchpriority="high" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-content-center p-0 mx-0">
        <button class="btn btn-sm custbtn text-white me-2">
            <i class="bi bi-moon-fill mx-1"></i>
        </button>
        <button class="btn btn-sm custbtn text-white border rounded-1 me-2">
            <i class="bi bi-megaphone-fill me-1"></i>Important
        </button>
        <button class="btn btn-sm custbtn text-white border rounded-1 me-2">
            <i class="bi bi-chat-dots me-1"></i>ISL Chatbot
        </button>
        <div class="dropdown">
            <button class="btn btn-sm custbtn text-white border rounded-1 dropdown-toggle" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                English
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Hindi</a></li>
                <li><a class="dropdown-item" href="#">Kannada</a></li>
                <li><a class="dropdown-item" href="#">Telugu</a></li>
                <li><a class="dropdown-item" href="#">Tamil</a></li>
            </ul>
        </div>
    </div>
</div>
</div>